h1 {
    text-align: center;
    padding: 3px;
}

#user-input {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 6px;
    background-color: lightgreen;
    width: 100%;
    text-align: center;
}

#message-input {
    position: relative;
    left: 0;
    height: 35px;
    width: 60%;
    margin-top: 5px;
    border: green;
}

.btn-success {
    height: 35px;
    width: 100px;
    margin-bottom: 5px;
}

#chat-messages {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 10px
}

li {
    list-style: none;
    padding: 5px;
}

#chat-messages>li:nth-child(odd) {
    background-color: rgb(210, 204, 204);
}

.container {
    border: 1px solid black;
    width: 60%;
    float: left;
    height: 520px
}

.float-left {
    padding: 10px;
    border: 1px solid black;
    width: 40%;
    float: left;
    height: 520px
}

.btn-danger {

    width: max-content
}

#allgrouplist,
ul {
    padding: 3px;
    margin: 0;
}

#allgrouplist,
button {
    padding: 2px;
    margin: 3px;
}

.btn-same {
    background-color: green;
    color: aliceblue;
    border-radius: 5px;
    width: max-content;
    border: 1px solid gainsboro;
    padding: 3px;

}

a {
    text-decoration: none;
}

a:hover {
    color: rgb(218, 84, 17);
    font-style: italic;
    font-size: large;
}