.container {
    padding: 5px;
    margin: 2px 50px 0px 50px;
    height: 650px;
    background-image: url('https://t4.ftcdn.net/jpg/03/38/75/29/360_F_338752910_Th7euFDcjaI0nWNOBoi0JDSR0zu92WkM.jpg');
}

.container>h1 {
    padding: 5px;
    background-color: rgb(36, 128, 227);
    margin: 5px 250px 0px 250px;
    border: 1px solid rgb(99, 159, 219);
}

form {
    margin: 50px 350px 50px 350px;
    padding: 10px;
    border: 1px solid rgb(16, 94, 229);
    background-color: rgb(175, 202, 230);
    border-radius: 15px;
}

header {
    padding: 5px;
    margin: 2px 81px 2px 50px;
    background-color: rgb(36, 128, 227);
}

a {
    text-decoration: none;
    text-align: end;
    margin-left: 65%;
}

a:hover {
    color: black;
}

input:hover,
button:hover {
    box-shadow: 5px 10px 5px rgb(127, 167, 227);
}

.btn {
    width: 100%;
    margin-bottom: 10px;
}