.container {
   padding: 5px;
   margin: 2px 50px 0px 50px;
   border: 1px solid rgb(99, 159, 219);
   background-image: url('https://t4.ftcdn.net/jpg/03/38/75/29/360_F_338752910_Th7euFDcjaI0nWNOBoi0JDSR0zu92WkM.jpg');
}

.container>h1 {
   padding: 5px;
   background-color: rgb(36, 128, 227);
   margin: 5px 250px 0px 250px;
   border: 1px solid rgb(99, 159, 219);
}

form {
   margin: 50px 250px 50px 250px;
   padding: 10px;
   border: 1px solid yellow;
   background-color: rgb(175, 202, 230);
   border-radius: 15px;
}

header {
   padding: 5px;
   margin: 2px 85px 2px 50px;
   background-color: rgb(36, 128, 227);
}

a {
   text-decoration: none;
   margin-left: 20px;
}

a:hover {
   color: black;
}

input:hover,
button:hover {
   box-shadow: 5px 10px 5px rgb(127, 167, 227);
}